/* partie CSS */

@media only screen and (min-width: 1199px) {

    @font-face {
        font-family:'raleway';
        src: url('fonts_Ral/Raleway-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family:'raleway_italic';
        src: url('fonts_Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    #main_wrapper {
        max-width: 960 px; /* je choisi max width car en terme de responsive, c'est le meilleur choix et c'est mieux pour les Ã©crans windows plus Ã©troites*/
        margin: auto;
        padding-right: 10px;
        padding-left: 10px; /* Pour donner un peu de place au bords de page*/
    }

    body {
        background-color: white;
        font-family: 'raleway', arial, sans-serif;
        color: black;
        position: relative;
    }

    #main_wrapper {
        max-width: 960 px; /* je choisi max width car en terme de responsive, c'est le meilleur choix et c'est mieux pour les Ã©crans windows plus Ã©troites*/
        margin: auto;
        padding-right: 10px;
        padding-left: 10px; /* Pour donner un peu de place au bords de page*/
    }
    header {
        height: 85px;
    }

    .header {
        display:flex;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
        /*align-items: flex-end;*/
    }

    #logo {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #logo img {
        width: 44%;
        height: auto;
    }
    
    nav {
        margin: 10px 63px 0px 0px;
        /*margin: 0 -1354px 0px 0;
        padding-right: 15px;*/
    }

    .nav_droite {
        margin: 0 34px 0px 615px;
        padding-right: 15px;
    }


    .separation_nav {
        margin: 0 0 0 -25px;
    }

    .end_nav {
        display: flex;
        justify-content: flex-end;
    }

    nav ul
    {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;

    }

    nav li {
        margin: 0 65px 0 0px;
    }

    a {
    text-decoration: none;
    }

    
    .hidden_petit a {
        font-size: 1.3em;
        color: rgba(57, 130, 241);
        margin: 0px 28px;

        position: relative;
    }

    .hidden_petit a:hover {
        color: rgba(105, 105, 105);
    }
    
    .hidden_petit a::after {
        content: "";
        position: absolute;
        background: #0065FC;
        height: 3px;
        left: -2rem;
        right: -2rem;
        bottom: 3.4rem;
        transition: .25s ease-in-out;
        opacity: 0;
        transform: scaleX(.5);
    }
        
    .hidden_petit a:hover::after {
        opacity: 1;
        transform: scaleX(1);
    }

    h1{
        font-size:1.2em;
        font-weight: bold;
        height:5px;
    }

    .h1_top {
        font-size:1.2em;
        font-weight: bold;
        height:5px;
    }

    section h2, h3 {
        font-weight: normal;
        font-size: 0.9em;
        padding-top: 10px;
        margin: 0px 0px 13px 3px;
        color: rgb(88,88,88);
    }

    .information_gris{
        color: rgb(88,88,88);
    }

    h2 {
        font-size: 1.33em;
    }

    * {
        box-sizing: border-box;
    }
    
    
    .localisation {
        height: 65px;
    }
    
    form.localisation input[type="text"] {
        padding: 9px;
        font-size: 1.063em;
        border: 1px solid white;
        float: left;
        background: white;
        border: 1px solid #f2f2f2;
    }
    
    form.localisation button {
        float: left;
        padding: 10px;
        background: #0065FC;
        color: white;
        font-size: 1.063em;
        border: 1px grey;
        border-left-color: grey;
        border-left-style: none;
        border-left-width: 1px;
        border-left-color: grey;
        border-left-style: none;
        border-left-width: 1px;
        border-style: normal;
        border-left: none;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
        margin: 0 -12px;
    }

    .btn_hidden1 {
        visibility: hidden;
    }

    .countour {
        padding: 11px 0px 10px 17px;
        font-size: 1.063em;
        border: 1px grey;
        border-style: normal;
        float: left;
        background: #F2F2F2;
        width: 43px;
        border-radius: 10px 0 0 10px;
    }
}