/* partie CSS */



@media only screen and (min-width: 1199px) {

    @font-face {
        font-family:'raleway';
        src: url('fonts_Ral/Raleway-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family:'raleway_italic';
        src: url('fonts_Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    body {
        background-color: white;
        font-family: 'raleway', arial, sans-serif;
        color: black;
        position: relative;
    }

    #main_wrapper {
        max-width: 960 px; /* je choisi max width car en terme de responsive, c'est le meilleur choix et c'est mieux pour les Ã©crans windows plus Ã©troites*/
        margin: auto;
        padding-right: 10px;
        padding-left: 10px; /* Pour donner un peu de place au bords de page*/
    }
    header {
        height: 85px;
    }

    .header {
        display:flex;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
        /*align-items: flex-end;*/
    }

    #logo {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #logo img {
        width: 44%;
        height: auto;
    }

    nav {
        margin: 10px 63px 0px 0px;
        /*margin: 0 -1354px 0px 0;
        padding-right: 15px;*/
    }
/*
    .nav_droite {
        margin: 0 34px 0px 615px;
        padding-right: 15px;
    }


    .separation_nav {
        margin: 0 0 0 -25px;
    }

    .end_nav {
        display: flex;
        justify-content: flex-end;
    }

    nav ul
    {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;

    }

    nav li {
        margin: 0 65px 0 0px;
    }
*/

    a {
    text-decoration: none;
    }

    .hidden_petit a {
        font-size: 1.3em;
        color: rgba(57, 130, 241);
        margin: 0px 28px;

        position: relative;
    }

    nav ul
    {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;

    }

    /*exemple sur net*/
    .hidden_petit a:hover {
        color: rgba(105, 105, 105);
    }
    
    .hidden_petit a::after {
        content: "";
        position: absolute;
        background: #0065FC;
        height: 3px;
        left: -2rem;
        right: -2rem;
        bottom: 3.4rem;
        transition: .25s ease-in-out;
        opacity: 0;
        transform: scaleX(.5);
    }
        
    .hidden_petit a:hover::after {
        opacity: 1;
        transform: scaleX(1);
    }
    
        /*fini exemple*/

    /*commence ici la srction */

    h1{
        font-size:1.2em;
        font-weight: bold;
        height:5px;
    }

    .h1_top {
        font-size:1.2em;
        font-weight: bold;
        height:5px;
    }

    section h2, h3 {
        font-weight: normal;
        font-size: 0.9em;
        padding-top: 10px;
        margin: 0px 0px 13px 3px;
        color: rgb(88,88,88);
    }

    .information_gris{
        color: rgb(88,88,88);
    }

    h2 {
        font-size: 1.33em;
    }

    * {
        box-sizing: border-box;
    }
    
    .localisation {
        height: 65px;
    }
    
    form.localisation input[type="text"] {
        padding: 9px;
        font-size: 1.063em;
        border: 1px solid white;
        float: left;
        background: white;
        border: 1px solid #f2f2f2;
    }
    
    form.localisation button {
        float: left;
        padding: 10px;
        background: #0065FC;
        color: white;
        font-size: 1.063em;
        border: 1px grey;
        border-left-color: grey;
        border-left-style: none;
        border-left-width: 1px;
        border-left-color: grey;
        border-left-style: none;
        border-left-width: 1px;
        border-style: normal;
        border-left: none;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
        margin: 0 -12px;
    }

    .btn_hidden1 {
        visibility: hidden;
    }

    .countour {
        padding: 11px 0px 10px 17px;
        font-size: 1.063em;
        border: 1px grey;
        border-style: normal;
        float: left;
        background: #F2F2F2;
        width: 43px;
        border-radius: 10px 0 0 10px;
    }

    ::placeholder { /*firefox*/
        color: black;
        opacity: 1;
        font-weight: bold;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: black;
        opacity: 1;
        font-weight: bold;
       }
       
       ::-ms-input-placeholder { /* Microsoft Edge */
        color: black;
        opacity: 1;
        font-weight: bold;
       }

    .filtre, .informations{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: left;
        height: 50px;
    }

    .filtre_p {
        display: flex;
        height: 4rem;
    }

    .filtre_p p { 
        margin: 13px 32px 0 0;
        font-weight: bold;
    }

    .boutton {
        border:2px solid rgb(218, 218, 218);;
        /*float: left;
        padding: 10px;
        background: white;
        opacity: 0.7;
        color: black;*/
        font-weight: bold;
        font-size: 1.063em;
        /*border-style: normal;*/
        border-left: none;
        cursor: pointer;
        border-radius: 48px 50px 50px 44px;
        height: 43px;
        padding: 0px 4px 0px 0px;
        margin: 0px 32px 0px 0px;
    }

    .btn_filtre1 {
        float: left;
        background: #DEEBFF;
        /*padding: 10px;*/
        /*background: #DEEBFF;
        color: black;*/
        font-size: 1.063em;
        /*border-style: normal;
        border-left: none;
        cursor: pointer;*/
        border-radius: 50px;
        height: 41px;
        /*padding: 9px;*/
        padding: 12px 9px 10px 17px;
        margin: -1.35px 0px 0 -9px;
        width: 52px;
        height: auto;
    }

    .filtre_desc {
        float: left;
        font-size: 1.063em;
        height: 42px;
        padding: 11px 14px 9px 10px;
    }

    .filtre_desc span {
        font-weight: bold;
        color: black;
    }

    .boutton:hover {
        background: #0065FC;
    }

    .fa-money-bill-wave {
        color: #0065FC;
    }

    .fa-child {
        color:#0065FC;
    }

    .fa-heart {
        color: #0065FC;
    }

    .fa-dog {
        color: #0065FC;
    }

    .information {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 0 0 0;
    }

    .flex_information {
        display: flex;
    }

    .information_logo {
        border: 1px solid grey;
        border-left-color: grey;
        border-left-style: solid;
        border-left-width: 1px;
        border-style: normal;
        border-left: none;
        border-radius: 50%;
        width: 27px;
        background: white;
        margin: 10px 15px 13px 0;
        padding: 4px 0px 0 11px;
    }

    .fa-info {
        color: #0065FC;
    }

    .section_flex {
        display: flex;
        /*margin-bottom:85px;*/
        margin: 21px 0 0 0;
        margin-bottom: 112px;
    }

    .section_gris {
        background: #F2F2F2;
        /*height: 730px;
        max-width: 55%;*/
        border-radius: 20px;
        padding:0 42px 0 42px;
        margin: 0 44px 0 0;
        /* Je me suis trompé, j'ai pensé que section va organiser les divs dedans en vertical
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        margin-bottom: 80px;
        */
    }

    .container_left {
        flex:3;
    }

    .section_gris h1 {
        padding: 12px 0px 30px 0px;
        font-size: 1.4em;
    }
    /*
    .section_gris a {
        font-size: 1.5em;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    */
    .afficher_plus {
        padding: 30px 0px 0px 10px;
        font-size: 1em;
        font-weight: bold;
        /*text-decoration: none;*/
    }

    .afficher_plus a {
        text-decoration: none;
        color: black;
    }

    .responsive{
        /*position: relative;
        width:24.99999%;*/
        background: white;
        margin:0 22px 0 0px;
        border-radius: 20px;
        padding: 8px 8px 0px 8px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
        width: 272px;
    }

    .responsive a{
        color:black;
        text-decoration: none;
    }

    .fa-star {
        color: #0065FC;
    }

    .fas.fa-star.grey {
        color: #F2F2F2;
    }

    .organisation {
        display: flex;
        flex-direction:wrap;
        /*flex-direction: row;
        align-items: left;*/
        justify-content: space-between;
        background: #F2F2F2;
        margin: 0 0 30px 0;
    }

    .gallery {
        /*border-radius: 20px 0 0 20px;*/
        /*background:white;*/
        width: 100%;
        height: 8vw;
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
        background-size: cover;
        padding: 124px 66px 10px 172px;
        border-radius: 20px 20px 0 0;
    }

    .gallery1 {
        /*border-radius: 20px 0 0 20px;*/
        /*background:white;*/
        width: 100%;
        height: 8vw;
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
        background-size: cover;
        border-radius: 20px 20px 0 0;
        padding: 124px 66px 10px 172px;
    }

    .gallery2 {
        /*border-radius: 20px 0 0 20px;*/
        /*background:white;*/
        width: 100%;
        height: 8vw;
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
        background-size: cover;
        border-radius: 20px 20px 0 0;
        padding: 124px 66px 10px 172px;
    }

    .gallery3 {
        /*border-radius: 20px 0 0 20px;*/
        /*background:white;*/
        width: 100%;
        height: 8vw;
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
        background-size: cover;
        border-radius: 20px 20px 0 0;
        padding: 124px 66px 10px 172px;
        background-position: 0px -3.8rem;
    }

    .gallery4 {
        /*border-radius: 20px 0 0 20px;*/
        /*background:white;*/
        width: 100%;
        height: 8vw;
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
        background-size: cover;
        border-radius: 20px 20px 0 0;
        padding: 124px 66px 10px 172px;
    }

    .gallery5 {
        /*border-radius: 20px 0 0 20px;*/
        /*background:white;*/
        width: 100%;
        height: 8vw;
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
        background-size: cover;
        border-radius: 20px 20px 0 0;
        padding: 124px 66px 10px 172px;
        background-position: 0px -7.5rem;
    }

    /* cela ne fonctionne pas
    .gallery:nth-child(1) {
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    }

    .gallery:nth-child(2) {
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    }

    .gallery:nth-child(3) {
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    }

    /* celui de bas
    .gallery1:nth-child(1) {
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    }

    .gallery1:nth-child(2) {
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    }

    .gallery1:nth-child(3) {
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    }

    .gallery img {
        width:97%;
        margin: 1% 0 0 2%;
        height:auto;
        border-radius: 20px 20px 0 0;
    }

    /* Pour couper l'image pour que ça colle avec les autres
    .gallery_amina img {
        width:97%;
        margin: 1% 0 0 2%;
        height:auto;
        border-radius: 20px 20px 0 0;
        position: relative;
    }

    .gallery_amina {
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 138px 190px 45px;
    }*/

    .desc {
        padding: 9px 46px 12px 0px;
        text-align: left;
    }

    .desc p {
        font-size: 1.2em;
        margin: 0 0 10px 0;
        font-weight: bold;
    }

    .desc .prix {
        font-size: 1em;
        /*margin: 0 0 140px 0;*/
        padding: 0 0 0 0;
        font-weight: normal;
    }

    .hebergements_espaces {
        padding: 35px 0 0 0;
    }
    /*
    #background_gris {
        background-color: #F2F2F2;
        height: 100px;
        width: 60%;
    }
    #background_gris h1 {
        margin-left: 25px;
    }

    .hebergement_1 {
        background-color:  #F2F2F2;
        display: flex;
        flex-wrap: wrap;
    }

    .hebergement_2 {
        background-color:  white;
    }

    .hebergement_cliquable img {
        max-width: 20%;
        max-height: auto;
    }

    .hebergement_2 ul {
        list-style-type: none;
    }

    .rouge {
        background: red;

    }
    */
    aside {
        background: #f2f2f2f2;
        /*margin: 0 0 0 54px;*/
        border-radius: 20px 20px 20px 20px;
        /*max-width: 100%;
        height: auto;*/
        padding: 0px 21px 0px 21px;
    }

    aside h3 {
        padding: 2.5rem 0 1.5rem 2rem;
        font-size: 1.4em;
        font-weight: bold;
        color: black;
    }

    .flex_populaire {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*align-items: left;
        margin: 0 0 50px 0;*/
        border-radius: 20px;
        margin: 0 0 -18px 0;
    }
    .flex_populaire i {
        margin: -0.2rem 1em 0px 0;
        padding: 2.5rem 0 1.5rem 2rem;
    }

    .container_photo_description {
        display: flex;
        text-decoration: none;
        /*
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        /*margin: -50px 0 0 0;
        width: 100%;
        height: auto;
        background-color: #f2f2f2;
        border-radius: 20px 20px 20px 20px;*/
    }

    .card_photo_description1 {
        display: flex;
        flex-direction: row;
        position: relative;
        /*max-width: 100%;
        height: auto;*/
        background: white;
        border-radius: 20px;
        margin: 0px 31px 20px 30px;
        padding: 10px 0px 10px 10px;
        width: 100%;
        box-shadow: 9px 9px rgb(239, 239, 239);
    }

    .container_photo_populaire {
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        min-height: 10vh;
        border-radius: 20px 20px 20px 20px;
    }

    .container_photo_populaire * {
        margin: 0;
        padding: 0;
        border-radius: 20px;
    }


    .image_box1 { /* Meme sans, ça foncitonne*/
        width: 31.5%;
        height: 10vw;
        border-radius: 20px 0 0 20px;
        /*background:white;*/
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 31px 94px 143px 0px;
        /*padding: 13px 135px 214px 79px;*/
        background-position: -3.3rem 0rem;
    }

    .image_box2 {
        width: 35%;
        height: 10vw;
        border-radius: 20px 0 0 20px;
        /*background:white;*/
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 31px 94px 143px 0px;
        /*padding: 13px 135px 214px 79px;*/
        background-position: -2.3rem 0rem;
    }

    .image_box3 { /* Meme sans, ça foncitonne*/
        width: 32%;
        height: 10vw;
        border-radius: 20px 0 0 20px;
        background: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(Projet_2_Reservia/images/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
        padding: 31px 94px 143px 0px;
        background-position: 0rem -2rem;
    }

    /*
    .description {
        width: 65%;
        height: auto;
        background:white;
        margin:0 0 0 20px;
    } 
    */

    .description1 {
        
        /*width: 100%;
        height: auto;
        background: white;
        margin: 0 0 0 120px;
        padding: 0 20px 0 20px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 62px 0px 13px;
    }


    .description1 p {
        font-size: 1.2em;
        font-weight: bold;
        color: black;
        margin: 0 0 6px 0;
        /*padding: 0 0 0 0;*/
    }

    .description1 .prix {
        font-size: 1em;
        /*margin: 0 0 140px 0;*/
        padding: 0 0 0 0;
        font-weight: normal;
    }
/*
    .description2 {
        
        /*width: 100%;
        height: auto;
        background:white;
        margin: 0 0 0 120px;*/
        /*padding: 0 20px 0 20px;
        padding: 0px 62px 0px 13px;
    }

    .description2 p {
        font-size: 1.2em;
        margin: 0 0 10px 0 ;
        padding: 0 0 0 0;
        font-weight: bold;
    }

    .description2 .prix {
        font-size: 1em;
        margin: 0 0 140px 0 ;
        padding: 0 0 0 0;
        font-weight: normal;
    }
*/
    /*
    .image_box2 {
        max-width: 65%;
        height: auto;
        border-radius: 20px;
    }

    .image_box2 img {
        max-width: 40%;
        height: auto;
        border-radius: 20px;
    }
    */

    .section_flex_activité {
        display: flex;
        margin-bottom: 112px;
    }

    .section_blanc_activité {
        border-radius: 20px;
        padding:0 42px 0 35px;
        display: flex;
        flex-direction: column;
    }

    .section_blanc_activité h1 {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 0 28px 7px;
    }

    .section_gris_activité h1 {
        padding: 2rem 0.5rem;;
        font-size: 1.4em;
    }

    .organisation_activité {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /*flex-wrap: wrap;*/
        background: white;
    }

    .responsive_activité {
        background: white;
        margin: 0 38px 19px 0px;
        border-radius: 20px;
        padding: 8px 8px 0px 8px;
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }

    .column {
        margin:auto;
    }

    .gallery_activité1 {
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
        background-size: cover;
        padding: 404px 179px 24px 126px;
        border-radius: 20px 20px 0 0;
        background-position: -10rem 0rem;
    }

    .gallery_activité2 {
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
        background-size: cover;
        padding: 184px 187px 10px 172px;
        border-radius: 20px 20px 0 0;
        background-position: 0rem -10rem;
    }

    .gallery_activité3 {
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
        background-size: cover;
        padding: 144px 187px 10px 172px;
        border-radius: 20px 20px 0 0;
    }

    .gallery_activité4 {
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
        background-size: cover;
        padding: 405px 178px 24px 126px;
        border-radius: 20px 20px 0 0;
        background-position: -11rem 0rem;
    }

    .gallery_activité5 {
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg);
        background-size: cover;
        padding: 151px 187px 10px 172px;
        border-radius: 20px 20px 0 0;
    }

    .gallery_activité6 {
        background-repeat: no-repeat;
        background-image: url(Projet_2_Reservia/images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
        background-size: cover;
        padding: 184px 187px 10px 172px;
        border-radius: 20px 20px 0 0;
    }

    .desc_actvité {
        padding: 15px;
        text-align: left;
        color: black;
        padding: 18px 0 18px 0;
        /*box-shadow: 0px 4px 0px 4px rgb(242, 242, 242);*/
        border-radius: 0 0 20px 20px;
    }

    .desc_actvité p {
        text-decoration: none;
        font-weight: bold;
        margin: 0 0 0 8px;
    }

    footer {
        background: #f2f2f2f2;
        display:flex;
        justify-content: space-between;
        padding:0 0 0 0;
        margin: 0 0 0 0;
    }

    .responsive_footer {
        margin: 0 0 0 0;
        padding:28px 335px 28px 48px;
    }

    .desc_footer {
        display: flex;
        flex-direction: column;
    }

    .desc_footer a {
        color: black;
        margin: 0 0px 15px 0;
        text-decoration: none;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {

        @font-face {
            font-family:'raleway';
            src: url('fonts_Ral/Raleway-VariableFont_wght.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family:'raleway_italic';
            src: url('fonts_Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    }

    
    body {
        background-color: white;
        font-family: 'raleway', arial, sans-serif;
        color: black;
        position: relative;
    }

    #main_wrapper {
        max-width: 960 px; /* je choisi max width car en terme de responsive, c'est le meilleur choix et c'est mieux pour les Ã©crans windows plus Ã©troites*/
        margin: auto;
        padding-right: 10px;
        padding-left: 10px; /* Pour donner un peu de place au bords de page*/
    }
    header {
        height: 85px;
    }

    .header {
        display:flex;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
        /*align-items: flex-end;*/
    }

    #logo {
        margin-bottom: 80px;
    }
    #logo img {
        width: 44%;
        height: auto;
    }

    nav {
        margin: 10px 28px 0px 0px;
        /*margin: 0 -1354px 0px 0;
        padding-right: 15px;*/
    }

    .nav_droite_hidden {
        visibility: hidden;
    }
    .hidden_grand {
        visibility: hidden;
    }

    a {
        text-decoration: none;
    }
        
    .hidden_petit a {
        font-size: 1.3em;
        color: rgba(57, 130, 241);
        margin: 0px 28px;
        position: relative;
    }

    
    .hidden_petit a:hover {
        color: rgba(105, 105, 105);
    }
    
    nav ul
    {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }
    
        /*exemple sur net*/
        
    .hidden_petit a::after {
        content: "";
        position: absolute;
        background: #0065FC;
        height: 3px;
        left: -2rem;
        right: -2rem;
        bottom: 5.05rem;
        transition: .25s ease-in-out;
        opacity: 0;
        transform: scaleX(.5);
    }
            
    .hidden_petit a:hover::after {
        opacity: 1;
        transform: scaleX(1);
    }

    
    .top_section {
        display: flex;
        justify-content:flex-start;
        flex-direction: column;
    }
    
    h1{
        font-size:1.2em;
        font-weight: bold;
        height:5px;
    }

    .h1_top {
        font-size:1.2em;
        font-weight: bold;
        height:5px;
    }

    section h2, h3 {
        font-weight: normal;
        font-size: 0.9em;
        padding-top: 10px;
        margin: 0px 0px 13px 3px;
        color: rgb(88,88,88);
    }

    .information_gris{
        color: rgb(88,88,88);
    }

    h2 {
        font-size: 1.33em;
    }

    * {
        box-sizing: border-box;
    }
    
    
    .localisation {
        height: 65px;
    }
    
    form.localisation input[type="text"] {
        padding: 9px;
        font-size: 1.063em;
        border: 1px solid white;
        float: left;
        background: white;
        border: 1px solid #f2f2f2;
    }
    
    form.localisation button {
        float: left;
        padding: 10px;
        background: #0065FC;
        color: white;
        font-size: 1.063em;
        border: 1px grey;
            border-left-color: grey;
            border-left-style: none;
            border-left-width: 1px;
        border-style: normal;
        border-left: none;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
        margin: 0 -12px;
    }

    .btn_hidden1 {
        visibility: hidden;
    }

    .countour {
        padding: 11px 0px 10px 17px;
        font-size: 1.063em;
        border: 1px grey;
        border-style: normal;
        float: left;
        background: #F2F2F2;
        width: 43px;
        border-radius: 10px 0 0 10px;
    }

    ::placeholder { /*firefox*/
        color: black;
        opacity: 1;
        font-weight: bold;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: black;
        opacity: 1;
        font-weight: bold;
    }
       
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: black;
        opacity: 1;
        font-weight: bold;
    }

    
    .filtre, .informations{
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        height: 50px;
        margin: 0px -1px;
    }

    .filtre_p{
        display: flex;
        height: 4rem;
    }

    .filtre_p p { 
        margin: 13px 32px 0 0;
        font-weight: bold;
    }

    .btn_row {
        display: flex;
    }

    .boutton {
        border: 2px solid rgb(218, 218, 218);;
        /*float: left;
        padding: 10px;
        background: white;
        opacity: 0.7;
        color: black;*/
        font-weight: bold;
        font-size: 1.063em;
        /*border-style: normal;*/
        border-left: none;
        cursor: pointer;
        border-radius: 48px 50px 50px 44px;
        height: 43px;
        padding: 0px 4px 0px 0px;
        margin: 0px 32px 0px 0px;
    }

    .btn_filtre1 {
        float: left;
        background: #DEEBFF;
        /*padding: 10px;*/
        /*background: #DEEBFF;
        color: black;*/
        font-size: 1.063em;
        /*border-style: normal;
        border-left: none;
        cursor: pointer;*/
        border-radius: 50px;
        height: 41px;
        /*padding: 9px;*/
        padding: 12px 9px 10px 17px;
        margin: -1.35px 0px 0 -9px;
        width: 52px;
        height: auto;
    }

    
    .filtre_desc {
        float: left;
        font-size: 1.063em;
        height: 42px;
        padding: 11px 14px 9px 10px;
    }


    .filtre_desc span {
        font-weight: bold;
        color: black;
    }

    .boutton:hover {
        background: #0065FC;
    }

    .fa-money-bill-wave {
        color: #0065FC;
    }

    .fa-child {
        color:#0065FC;
    }

    .fa-heart {
        color: #0065FC;
    }

    .fa-dog {
        color: #0065FC;
    }

    .flex_information {
        display: flex;
    }

    
    .information {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .information_logo { /* pour crÃ©er le rond*/
        border: 1px solid grey;
        border-style: normal;
        border-left: none;
        border-radius: 50%;
        width: 27px;
        background: white;
        margin: 10px 15px 13px 0;
        padding: 4px 0px 0 11px;
    }

    .fa-info {
        color: #0065FC;
    }

    
    .section_flex {
        display: flex;
        /*margin-bottom:85px;*/
        margin: 21px 0 0 0;
        margin-bottom: 112px;
        /*flex-direction: column; /* pour que ca sois en column*/
    }

    .section_gris {
        background: #F2F2F2;
        /*height: 730px;
        max-width: 55%;*/
        border-radius: 20px;
        padding:0 42px 0 42px;
        margin: 0 44px 0 0;
        /* Je me suis trompé, j'ai pensé que section va organiser les divs dedans en vertical
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        margin-bottom: 80px;
        */
    }

    .container_left {
        flex:3;
    }

    .section_gris h1 {
        padding: 12px 0px 30px 0px;
        font-size: 1.4em;
    }
    /*
    .section_gris a {
        font-size: 1.5em;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    */
    .afficher_plus {
        padding: 30px 0px 0px 10px;
        font-size: 1em;
        font-weight: bold;
        /*text-decoration: none;*/
    }

    .afficher_plus a {
        text-decoration: none;
        color: black;
    }
}