/* partie CSS */

@media only screen and (min-width: 1199px) {

    @font-face {
        font-family:'raleway';
        src: url('fonts_Ral/Raleway-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family:'raleway_italic';
        src: url('fonts_Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}